-# # Templates: Block partial

-# This is the partial invoked when you use the `kss_guide` helper.
-# Don't like me? Just copy me into `app/views/styleguides/_block.html.haml` in
-# your app.

%section.sg-example
  %h3= section.section

  %span.sg-filename= section.filename

  .sg-description
    != markdown h(section.description)

    - if section.modifiers.any?
      %ul.sg-modifiers
        - modifiers.each do |modifier|
          %li
            %strong= modifier.name
            = "-"
            = modifier.description

  .sg-canvas{class: canvas_class}
    != html.gsub('$modifier_class', '')

  - modifiers.each do |modifier|
    .sg-modifier.sg-canvas{class: canvas_class}
      %span.sg-modifier-name= modifier.name
      = capture modifier.name, &code_block

  - if show_code
    .sg-html
      %button.sg-expand +
      %pre.prettyprint.lang-html!= h(html.gsub('', ''))

