-# # Templates: Styleguide page template
-# This formats your styleguides.
-#
-# It puts things into `:body` and `:head`, and calls the `layouts/styleguide`
-# layout, which you should have in your app.
-#
-# Don't like me? Just copy me into your
-# `app/views/layouts/styleguide_page.html.haml` and customize me.

- content_for :body do
  %button.sg-toggle-sidebar

  %aside.sg-toc
    %h1
      %strong= styleguide_title
      %small Style guide

    %ul
      - styleguide_sections.each do |id, name|
        %li
          - href = @single_page ? "##{id}" : id
          - klass = @single_page ? "" : (id == @section ? 'active' : '')
          %a{class: klass, href: href}
            %span.sg-number= "#{id}"
            %span.sg-name= name

  %section.sg-body
    = yield

  %script{src: "http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery-1.8.0.min.js"}
  %script{src: "http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.js"}
  %link{href: "http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.css", type: "text/css", rel: "stylesheet"}
  :javascript
    (function() {
      var pretty = false;
      $('.sg-view-code').on('click', function expand() {
        if (!pretty) {
          prettyPrint();
          pretty = true;
        }

        var $block = $(this).closest('.sg-example');
        $block.find('.sg-html').toggleClass('sg-expanded');
        $block.find('.sg-view-code').toggleClass('sg-expanded');
      });

      $('.sg-toggle-sidebar').on('click', function() {
        $('body').toggleClass('sg-full');
      });
    })();

- content_for :head do
  = stylesheet_link_tag 'styleguide'
  = stylesheet_link_tag 'styleguide-extras'

= render file: 'layouts/styleguide'
